body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #343a40;
}
/* stylein.css */
.crud{
  background-color:#343a40 ;
}
/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Use Oswald font for the body */
body {
  font-family: "oswald", sans-serif;
}

/* Set container width and center it */
.container {
  width: 90%;
  margin: auto;
}

/* Style for the header */
header {
  background-color: #202327;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 5px;
  margin: 0 10px;
}

.container {
  width: 90%;
  margin: auto;
}

/* Navbar */
.navbar {
  background-color: #343a40;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #ffc107;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  background-color: #ffc107;
}

.btn.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.btn:hover {
  opacity: 0.9;
}

/* Form and Input Styling */
.form-control {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

label {
  font-size: 18px;
  margin-bottom: 8px;
}

/* Table Styling */
table {
  background-color: #fff;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
}

table th {
  background-color: #007bff;
  color: #fff;
}

/* Search Bar */
#searchValue {
  width: 97%;
  padding: 8px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Shadow */
.shadow-lg {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .w-75 {
    width: 100%;
  }
}
